body{
  background-color: darkgray;
}

.head{
  text-align: center;

}

.head_left {
  align-items: center;
  display: flex;
  justify-content:space-between;

}
h2{
  text-align:  center;
  background-color:brown;
  padding: 15px;

}

div > li{
  display:inline;

}
.btn{

  width:fit-content;
}

button{
  background-color: darkgray;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid brown;
  
}
a > h3{
  color: black;
  text-decoration: dotted;
  

}
a{
  text-decoration: none;
}




